
client/gradle.properties
client/build.gradle
client/app/build.gradle
client/.idea/misc.xml
*.bin
*.lock
*.xml
*.png
*.properties
*.txt
*.apk
*.json
*.flat
*.dex
*.jar
*.class
*.ap_
*.iml
*.ser
*.java
